{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "targets": [
          "last 2 versions"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
